@import 'bulma/bulma';
@import './variables.scss';
.comparison {
	background-color: $yellow;
	min-height: 100vh;
}

.filters {
	margin-top: 4em;
}

.brew-btn {
	margin-top: 2em;
	margin-bottom: 2em;
}

input[type="radio"] {
	margin-left: 20px;
	margin-right: 5px;
}

.radio {
	text-transform: capitalize;
}