@import url('https://fonts.googleapis.com/css?family=Lilita+One|Open+Sans:300,400,600');
$yellow: #f0a917ff;
$blue:#80be95ff;
$blue-grey:#2e2626ff;
/* TYPE */

h1 {
	font-family: 'Lilita One', sans-serif;
	font-size: 3em;
	text-transform: uppercase;
	color: black;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: black;
}

p {
	font-family: 'Open Sans', sans-serif;
}