@import url('https://fonts.googleapis.com/css?family=Lilita+One');
$yellow: #f0a917ff;
$blue:#80be95ff;
$blue-grey:#2e2626ff;
/* TYPE */

h1 {
	font-family: 'Lilita One', sans-serif;
	font-size: 3em;
	text-transform: uppercase;
	color: black;
}